{% extends request.base_template %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="row"><h2 class="text-center">User Profile</h2></div>
    <form method="post" class="row my-2" hx-post="{% url 'users-profile-edit' %}" hx-trigger="submit">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-between">
            <a href="{% url 'users-profile' %}" class="btn btn-outline-secondary me-2" hx-get="{% url 'users-profile' %}">Cancel</a>
            <a href="{% url 'users-password-update' %}" class="btn btn-outline-danger me-2" hx-get="{% url 'users-password-update' %}">Change Password</a>
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </div>
    </form>
    <script>
        var parent_email_input = document.querySelector("#div_id_parent_email > label");
        parent_email_input.classList.add("d-flex", "align-items-center", "gap-1", "m-0");
        parent_email_input.innerHTML = `
            <span>Parent email</span>
            <img src="{% static 'layout/htmx-indicator.svg' %}" alt="" id="parent-email-htmx-indicator" class="parent-email-htmx-indicator">
        `;

        /*
        <i id="parent_email_check_success" class="fa fa-check-circle text-success"></i>
        <i id="parent_email_check_error" class="fa fa-exclamation-circle text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="There's no user registered with this email"></i>
        */
    </script>
{% endblock %}