{% extends request.base_template %}

{% block content %}
    {% if request.user.level_of_access_granted == 'Teacher' and request.user.uuid != user.uuid %}
        <div class="my-2">
            <div class="row">
                <a class="p-0" href="{% url 'users-profile' %}" hx-get="{% url 'users-profile' %}">
                    <i class="fa fa-arrow-left btn btn-outline-secondary" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    {% endif %}
    <div class="my-2">
        <div class="row">
            <h2 class="text-center">
                {% if user.level_of_access_granted == 'Student' %}
                    <i class="fa fa-graduation-cap text-primary" aria-hidden="true"></i>
                {% elif user.level_of_access_granted == 'Teacher' %}
                    <i class="fa fa-book text-success" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-shield text-danger" aria-hidden="true"></i>
                {% endif %}
                {{ user.level_of_access_granted }} User Profile
            </h2>
        </div>
    </div>
    <div class="my-2">
        <div class="row border rounded-3 py-1">
            <span class="col-md-4 text-secondary text-md-end text-start">Email:</span>
            <span class="col-md-8">{{ user.email }}</span>
        </div>
    </div>
    <div class="my-2">
        <div class="row border rounded-3 py-1">
            <span class="col-md-4 text-secondary text-md-end text-start">First Name:</span>
            <span class="col-md-8">{{ user.first_name }}</span>
        </div>
    </div>
    <div class="my-2">
        <div class="row border rounded-3 py-1">
            <span class="col-md-4 text-secondary text-md-end text-start">Last Name:</span>
            <span class="col-md-8">{{ user.last_name }}</span>
        </div>
    </div>
    <div class="my-2">
        <div class="row border rounded-3 py-1">
            <span class="col-md-4 text-secondary text-md-end text-start">Level of access wanted:</span>
            <span class="col-md-8">{{ user.level_of_access_wanted }}</span>
        </div>
    </div>
    <div class="my-2">
        <div class="row border rounded-3 py-1">
            <span class="col-md-4 text-secondary text-md-end text-start">Level of access granted:</span>
            <span class="col-md-8">{{ user.level_of_access_granted }}</span>
        </div>
    </div>
    {% if user.level_of_access_granted == "Student" %}
        <div class="my-2">
            <div class="row border rounded-3 py-1">
                <span class="col-md-4 text-secondary text-md-end text-start">Teacher:</span>
                <span class="col-md-8">{{ user.teacher }}</span>
            </div>
        </div>
    {% endif %}
    <div class="my-2">
        <div class="row border rounded-3 py-1">
            <span class="col-md-4 text-secondary text-md-end text-start">Date joined:</span>
            <span class="col-md-8">{{ user.date_joined }}</span>
        </div>
    </div>
    {% if request.user.uuid == user.uuid %}
        <div class="my-2">
            <div class="row">
                <div class="d-flex justify-content-between p-0">
                    <form method="post" hx-post="{% url 'users-signout' %}" hx-trigger="submit">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary">Sign Out</button>
                    </form>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'users-admin-password-update' %}" class="btn btn-warning" hx-get="{% url 'users-admin-password-update' %}">Any User Password Update</a>
                        <a href="/admin" class="btn btn-danger">Administration</a>
                    {% endif %}
                    <a href="{% url 'users-profile-edit' %}" class="btn btn-outline-primary" hx-get="{% url 'users-profile-edit' %}">Edit</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if user.level_of_access_granted == 'Student' %}
        <div class="mt-5">
            <div class="row"><h2 class="text-center">Registered Target Behaviors</h2></div>
            {% for target_behavior in user.target_behaviors.all %}
                {% if not target_behavior.deleted %}
                    <div class="row my-3 border rounded-3">
                        <a href="{% url 'target-behaviors-detail' target_behavior.uuid user.uuid %}"
                           hx-get="{% url 'target-behaviors-detail' target_behavior.uuid user.uuid %}"
                           class="fs-5 btn btn-outline-secondary w-100 h-100">{{ target_behavior }}</a>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row my-3 border rounded-3">
                <a href="{% url 'target-behaviors-create' user.uuid %}"
                   hx-get="{% url 'target-behaviors-create' user.uuid %}"
                   class="fs-3 btn btn-outline-primary w-100 h-100">Register New Target Behavior</a>
            </div>
        </div>
    {% elif user.level_of_access_granted == 'Teacher' %}
        <div class="mt-5">
            <div class="row"><h2 class="text-center">Registered Students</h2></div>
        </div>
        <div class="row">
            <div class="d-flex flex-row align-items-start gap-3 p-0">
                {% for student in request.user.students.all %}
                    <div class="p-3 border rounded-3">
                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <a href="{% url 'users-profile-other' student.uuid %}"
                               hx-get="{% url 'users-profile-other' student.uuid %}"
                               class="btn btn-success btn-small">{{ student }}</a>
                        </div>
                        <div class="d-flex gap-1 flex-column justify-content-center align-items-center">
                            {% for target in student.target_behaviors.all %}
                                {% if not target.deleted %}
                                    <a href="{% url 'target-behaviors-detail' target.uuid student.uuid %}"
                                       hx-get="{% url 'target-behaviors-detail' target.uuid student.uuid %}"
                                       class="btn btn-outline-primary btn-small">{{ target }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}